@(attributeDefinitions: Array[AttributeDefinition])

@import play.api.libs.json.Json; 
@import play.api.libs.json.JsValue; 
@import scala.collection.mutable.Buffer; 
@import scala.collection.immutable.Map;

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")">

<title>Play PDM BOM management editor</title>

<link href="@routes.Assets.at("bootstrap/css/bootstrap.css")" rel="stylesheet">
<link href="@routes.Assets.at("stylesheets/partmanager.css")" rel="stylesheet">

@* Underscore template *@
<script type="text/template" id="assembly-component-table-row-template">
@attributeDefinitions.map { attributeDefinition =>
	@if(attributeDefinition.isRead == true){
	<td>
	<%= get("@attributeDefinition.name") %>
	</td>	
	}	 
} 
</script>

@* JavaScirpt Router *@
<script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>

@* External library *@
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/underscore.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/backbone.js")"></script>

@* Backbone model *@ @* Grobal models, like database tables. *@@* Backbone view *@@* main *@
</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="@routes.Application.index">Play PDM</a>
		</div>

		<div class="collapse navbar-collapse">
			<div class="nav navbar-nav navbar-right">
				<a class="pull-right navbar-text" href="@routes.LoginController.logout()">Logout</a>
			</div>
		</div>
	</nav>
	<div class="container">
		<hr>

		<footer>
			<p>&copy; Company 2013</p>
		</footer>
	</div>
</body>
</html>

