@(classArray: Map[String, controllers.PartManagerController.ClassDefinition])

@import play.api.libs.json.Json; 
@import play.api.libs.json.JsValue; 
@import scala.collection.mutable.Buffer; 
@import scala.collection.immutable.Map; 

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

<title>Play PDM Part manager</title>

<!-- Bootstrap core CSS -->
<link href="@routes.Assets.at("bootstrap/css/bootstrap.css")" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="@routes.Assets.at("stylesheets/partmanager.css")" rel="stylesheet">

<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

@* Underscore template *@
<script type="text/template" id="part-table-row-template">
<td>
<%= get("name") %>
</td>
</script>

@* JavaScirpt Router *@
<script type="text/javascript" src="@routes.Application.javascriptRoutes()"></script>

@* External library *@
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("bootstrap/js/bootstrap.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/underscore.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/backbone.js")"></script>

@* Backbone collection Initializer *@
<script type="text/javascript">
var CLASS_TYPE_INITIALIZER = @{
	val jsonObjectBuffer = Buffer[JsValue]();

	classArray.map{ case (key, value) => 
		jsonObjectBuffer += Json.toJson(
			Map[String, JsValue](
				"name" -> Json.toJson(value.name),
				"displayName" -> Json.toJson(value.name)
			)
		);
	}

	val myTagJsonList = Json.toJson(jsonObjectBuffer);
	Html(myTagJsonList.toString());	
};
</script>

@* Backbone model *@
<script type="text/javascript" src="@routes.Assets.at("javascripts/models/AttributeDefinition.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/models/AttributeDefinitions.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/models/PartClassType.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/models/PartClassTypes.js")"></script>

@* Grobal models, like database tables. *@
<script type="text/javascript" src="@routes.Assets.at("javascripts/partmanagermodels.js")"></script>

@* Backbone view *@
<script type="text/javascript" src="@routes.Assets.at("javascripts/views/CollectionView.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/views/ClassTable.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/views/ClassTableRow.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/views/PartTableHeaderData.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/views/PartTableHeader.js")"></script>

@* main *@
<script type="text/javascript" src="@routes.Assets.at("javascripts/partmanagerviews.js")"></script>

</head>

<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="navbar-header">
			<a class="navbar-brand" href="@routes.Application.index">Play PDM</a>
		</div>

		<div class="collapse navbar-collapse">
			<div class="nav navbar-nav navbar-right">
				<a class="pull-right navbar-text" href="@routes.LoginController.logout()">Logout</a>
			</div>
		</div>
	</nav>

	<div class="container">
		<!-- Example row of columns -->
		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Edit <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a data-toggle="modal" data-target="#create-part-dialog">Create Part</a></li>
						</ul></li>
				</ul>
				<form class="navbar-form navbar-left" role="search" id="simple-search">
					<select name="name">
					</select>
					<div class="form-group">
						<input type="text" name="value" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

		<div class="row">
			<div class="col-md-2" id="class-select-table">
				<table class="table table-hover">
					<tbody id="class-table-body">
					</tbody>
				</table>
			</div>

			<div class="col-md-10">
				<table class="table table-hover">
					<thead>
						<tr id="part-table-header">
						</tr>
					</thead>
					<tbody id="part-table-body">
					</tbody>
				</table>
			</div>
		</div>

		<hr>

		<footer>
			<p>&copy; Company 2013</p>
		</footer>
	</div>

	<!-- Modal -->
	<form class="modal fade" id="create-part-dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">Modal title</h4>
				</div>
				<div class="modal-body">
					<div class="form-horizontal" role="form"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<input type="submit" class="btn btn-primary" value="Save changes">
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</form>
	<!-- /.modal -->
</body>
</html>
